:root {
  --orange: rgb(255, 102, 0);
}

.profile-home-container .profile-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-home-container .profile-content {
}
.profile-home-container .profile-left .profile-role ul {
  height: 35px;
  overflow: hidden;
}
.profile-home-container .profile-left .profile-role ul li {
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
  position: relative;
  top: 0;
  animation: slide 14s steps(5) infinite;
  height: 100%
}

@keyframes slide {
  100% {
    top: -175px;
  }
}
.profile-home-container .profile-left .profile-role ul li span {
  position: relative;
  height: 100%;
}

.profile-home-container .profile-left .profile-role ul li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 120%;
  width: 100%;
  border-left: 1px solid white;
  background-color: rgb(25, 25, 25);
  /* font-weight: 300;*/
  /* animation: blink 0.7s infinite; */
  animation: typing 2.8s steps(24) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-home-container {
  background-color: rgb(25, 25, 25);
  color: white;
  background-image: url("/Users/amrutapalo/Desktop/amrutapalo/src/Containers/Footer/assets/shape-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 20%;
}

.social-media-icons i {
  margin-right: 0.7em;
  font-size: 0.7em;
  margin-bottom: 1em;
  color: rgb(212, 210, 210);
}

.profile-home-container .social-media-icons i {
  margin-right: 0.5em;
  margin-bottom: 0;
  font-size: 1.5em;
  color: rgb(230, 227, 227);
}

.profile-home-container .profile-left div {
  margin-bottom: 1em;
}

.profile-home-container .social-media-icons {
  margin: 0.5em 0 !important;
}

.profile-home-container .profile-left .profile-name {
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 0;
  letter-spacing: 1px;
}

.profile-home-container
  .profile-left
  .profile-name
  .profile-name-highlighted-text {
  color: var(--orange);
  font-weight: 600;
  font-size: 1.1em;
}

.profile-home-container .profile-left .profile-role {
  font-size: 2em;
  margin-top: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.profile-home-container .profile-left .profile-description {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 1px;
}

.profile-home-container .profile-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-home-container .profile-right .profile-picture {
  box-shadow: 0 1px 0 0 white;
  border-radius: 50%;
  height: 360px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-home-container .profile-right .profile-picture img {
  border-radius: 50%;
  height: 353px;
  width: 353px;
  transition: transform 0.3s ease-in;
}

.profile-home-container .profile-right .profile-picture img:hover {
  transform: scale(1.1);
}

.download-resume-btn {
  padding: 1em;
  width: max-content;
  background-color: var(--orange);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 25px;
  font-size: 1em;
}
