:root {
  --orange: rgb(255, 102, 0);
}

.profile-home-container .profile-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-home-container .profile-content{

}

.profile-home-container .profile-left .profile-role ul li {
  list-style: none;
}

.profile-home-container {
  background-color: rgb(38, 37, 81);
  color: white;
}

.profile-home-container .social-media-icons i {
  color: white;
  margin: 0 0.3em;
}

.profile-home-container .profile-left div {
  margin-bottom: 1em;
}

.profile-home-container .social-media-icons {
  margin: 0.5em 0 !important;
}

.profile-home-container .profile-left .profile-name {
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 0;
  letter-spacing: 1px;

}

.profile-home-container
  .profile-left
  .profile-name
  .profile-name-highlighted-text {
  color: var(--orange);
  font-weight: 600;
  font-size: 1.1em;
}

.profile-home-container .profile-left .profile-role {
  font-size: 2em;
  margin-top: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.profile-home-container .profile-left .profile-description {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 1px;
}

.profile-home-container .profile-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-home-container .profile-right .profile-picture {
  box-shadow: 0 1px 0 0 white;
  border-radius: 50%;
  height: 360px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-home-container .profile-right .profile-picture img {
  border-radius: 50%;
  height: 353px;
  width: 353px;
  transition: transform 0.3s ease-in;
}

.profile-home-container .profile-right .profile-picture img:hover {
  transform: scale(1.1);
}

.download-resume-btn {
    padding: 1em;
    width: 160px;
    background-color: var(--orange);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    font-size: 1em;
}
