.testimonial-card {
  margin: 1.5em;
  box-sizing: border-box;
  font-size: 14px;
  height: 33vh;
  padding: 2em;
  position: relative;
  width: 30vw;
  min-width: 300px;
  background-color: white;
  border-radius: 30px 30px 30px 0;
  overflow: hidden;
}
.testimonial-person img {
  height: 30px;
  width: 30px;
}

.testimonial-person,
.testimonial-review {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.testimonial-review {
  font-style: italic;
  height: 60%;
  line-height: 1.2em;
}

.testimonial-person {
  position: absolute;
  bottom: 2px;
  flex-direction: row;
  height: 40%;
}

.testimonial-by {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}

.testimonial-by-name {
  font-weight: bold;
}

.testimonial-by-designation {
  font-style: italic;
  opacity: 0.5;
}

.testimonial-person > img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid rgb(255, 119, 0);
}

@media (max-width: 1311px) {
  .testimonial-card {
    height: 40vh;
  }
}
/* @media (max-width: 1195) {
  .testimonial-card {
    min-width: 300px;
  }
} */

@media (max-width: 1075px) {
  .testimonial-card {
    height: 47vh;
  }
}
/* @media (max-width: 946px) {
  .testimonial-card {
    height: 43vh;
  }
  .testimonial-review {
    font-style: italic;
    height: 63%;
    line-height: 1.1em;
    font-size: 0.9em;
  }
}
@media (max-width: 924px) {
  .testimonial-card {
    height: 43vh;
  }
  .testimonial-review {
    font-style: italic;
    height: 60%;
    line-height: 1.1em;
    font-size: 0.8em;
  }
}
@media (max-width: 844px) {
  
} */

@media (max-width: 1037px) {
  .testimonial-card {
    width: 300px !important;
    display: none;
    margin: 0;
    margin-top: 1em;
    padding: 1em;
  }

  .active{
    display: block;
  }
}
