.testimonial-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)) ,url("/Users/amrutapalo/Desktop/amrutapalo/src/Containers/Testimonial/assets/testimonial-bg.jpg");
  background-position: bottom;
  background-size: cover;
}

.testimonial-title {
  background-color: white;
  width: 100%;
}

.testimonial-carousel {
  display: flex;
  flex-direction: row;
  height: 70%;
  background-image: url("/Users/amrutapalo/Desktop/amrutapalo/src/Containers/Footer/assets/shape-bg.png");
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

q::before {
  content: "\201c";
  color: rgb(255, 119, 0);
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
